header {
  text-align: center;
}

#grid-container {
  width: 100%;
}

#grid .konvajs-content {
  display: block;
  margin: auto;
}

#grid-loading-message {
  text-align: center;
  margin: 1em;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
}

.row > * {
    margin: 0 0.2em;
}

